extends layout

block content
    .page-header
        h1 Player loader
            small  Visual interface for WoTcs.com player API server

    .row
        .col-sm-3
            .list-group
                each worker, type in workers
                    .list-group-item
                        .badge(id=type+'_worker')= worker.length
                        = type.charAt(0).toUpperCase() + type.substring(1)
        .col-sm-3
            .list-group
                .list-group-item
                    .badge#queue_finished= queue.finished
                    | Finished tasks
                .list-group-item
                    .badge#queue_failed= queue.failed
                    | Error tasks
        .col-sm-3
            .list-group
                .list-group-item
                    .badge#queue_total= queue.total
                    | Total task count
                .list-group-item
                    .badge#queue_pending= queue.pending
                    | Tasks pending
                .list-group-item
                    .badge#queue_speed= queue.speed + ' players/s'
                    | Loading speed

        .col-sm-3
            .list-group#router_stats

    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3 List of tasks
                        .btn.btn-primary.pull-right#pause_tasks Pause
                .list-group#queue_task_list
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3 Events
                .list-group#event_list

    script.
        APIData = {workers: !{JSON.stringify(workers)}}
