block request_template
    .list-group-item(class=(req.duration?'finished':'active')+(req.error?' list-group-item-danger':''),id='queue_task_'+ID)
        if req.duration
            .badge= req.duration + ' ms'
        else
            .badge= '0 ms'
        b= '#'+ID
        = ' (' + region + ') '
        i= req.error?(' - ' + req.error):(' - ' + req.IDs.length + ' ' + req.subject + ' ' + req.method + (req.scrape?' scrape':''))
        -minutes = req.added.getMinutes().toString();
        -seconds = req.added.getSeconds().toString();
        -minutesString = '00'.slice(0,minutes.length-2)+minutes;
        -secondsString = '00'.slice(0,seconds.length-2)+seconds;
        small= ' (Start:&nbsp;' + req.added.getHours() + ':' + minutesString + ':' + secondsString +')'